/* shared style */
* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
}

.heading {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 25px;
}

.card-title {
    font-size: 1.5rem;
    padding-top: 35px;
}

.shared-text {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 25px;
}

.shared-text-color {
    color: #5A5A5D;
    ;
}
.section-2,
.unique-section-card{
    display: flex;
    justify-content: space-between;
    gap: 300px;
    line-height: 34px;
}

.section-3,
.section-4,
.section-5,
.unique-section-6 {
    margin: 100px 135px;
    text-align: center;
}

/* section-1 styles */

.section-1 {
    margin: 60px 135px 100px;
    background: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    color: #FFF;
}

.section-1>h1 {
    font-size: 4rem;
    font-weight: 800;
    padding-top: 105px;
}

.section-1>p {
    font-size: 1rem;
    font-weight: 400;
    padding: 25px 245px 50px;
}

.section-1>div {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0 350px 105px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.section-1>div select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 15px;
}

/* section-2 styles */

.section-2 {
    margin: 0px 135px;
}

.tour-description {
    color: #5A5A5D;
    padding-bottom: 30px;
}

/* section-3 styles */

.img-container {
    display: grid;
    gap: 25px;
    margin-top: 50px;
}

.row>img {
    padding-right: 25px;
}

/* section-4 styles */

.row-1 {
    padding-top: 25px;
    display: flex;
    gap: 25px;
}

.row-2 {
    margin-left: 435px;
}

.card {
    width: 720px;
    height: 284px;
    border-radius: 16px;
    padding: 35px;
    text-align: left;
    margin-bottom: 25px;
}

#card-1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#card-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#card-3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* section-5 style */

.section-5 {
    display: flex;
    gap: 25px;
}

.form-info-container {
    width: 640px;
    height: 420px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 5px 40px 15px;
    text-align: left;
}

.form-info-container>hr {
    margin-bottom: 25px;
}

.form-info {
    width: 595px;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
}

.input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
}

.discount-container>img {
    width: 900px;
    height: 440px;
}

.discount-badge {
    border-radius: 16px;
    background: #FF5400;
    width: 400px;
    height: 100px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    position: relative;
    bottom: 170px;
    left: 500px;
    rotate: -20deg;
}

.discount-badge p {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 15px;
}

.discount-badge h3 {
    font-size: 2rem;
    font-weight: 800;
}

/* unique-section-6 style */
.unique-section-card-container{
    text-align: justify;
}

.unique-section-card>div img{
    width: 750px;
    height: 100%;
}

.unique-section-card{
    max-height: 410px;
    background-color: #dfe0d8;
    margin-bottom: 25px;
    border-radius: 16px;
    gap: 200px;
}
.card-content{
    padding-left: 20px;
    padding-top: 20px;
}
.card-content>h1{
    padding-bottom: 10px;
}

/* footer style */
footer {
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 502px;
    text-align: center;
}

.footer-title {
    font-size: 2rem;
    padding-top: 110px;
}

.footer-title img {
    padding-right: 20px;
}

.footer-title span {
    color: #FF5400;
}

footer>img {
    padding-left: 20px;
}

footer>hr {
    width: 1400px;
    background: rgba(19, 19, 24, 0.10);
    margin: 50px 285px;
}

footer>small {
    color: #131318;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}