/* shared style */
* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

.btn-primary-1 {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
}

/* section-1 styles */

.section-1 {
    margin: 60px 135px 100px;
    background: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    color: #FFF;
}

.section-1>h1 {
    font-size: 4rem;
    font-weight: 800;
    padding-top: 105px;
}

.section-1>p {
    font-size: 1rem;
    font-weight: 400;
    padding: 25px 245px 50px;
}

.section-1>div {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0 350px 105px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.section-1>div select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 15px;
}

/* section-2 styles */

.section-2 {
    margin: 0px 135px;
    display: flex;
    justify-content: space-between;
    gap: 300px;
    line-height: 34px;
}

.section-2>div>h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 25px;
}

.section-2>div>.intro, ul>li, .tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 25px;
}
.tour-description{
    color: #5A5A5D;
padding-bottom: 30px;
}
